<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujialin.mapper.GoodsinfoMapper">


    <update id="UpdateStoreByMysql">
        update goodsinfo set stockcount=stockcount-1 WHERE id = #{id}
    </update>
    <select id="SelectStoreByMysql" resultType="java.lang.Integer">
        select stockcount from goodsinfo where id = #{id}
    </select>

    <select id="getAllGoodsInfoByMysql" resultType="com.xujialin.entity.Goodsinfo">
        SELECT * FROM goodsinfo WHERE islogicdelete = 0 LIMIT #{start},#{count}
    </select>

    <select id="InitStoreCountToRedis" resultType="java.util.Map">
            select id,stockcount from goodsinfo where islogicdelete = 0
    </select>

</mapper>
